header{border:solid #d8701a; 
    position: relative}

body{background: url(images/sun2.png) no-repeat; background-size:100%;
}
div{width: 100%;
}
h2{ text-align: center;    
    font-family: 'Rubik Beastly';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    
    color: #000000;}
.container{display:flex;justify-content: space-around;}